<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title of Page -->
    <title><%= event.name %></title>

    <!-- Include Common Files -->
    <% include ./partials/header.ejs %>

    <!-- Custom styles for this template -->
    <link href="/css/event.css" rel="stylesheet">

    <!-- Custom JS -->
    <script src="/js/event.js"></script>

</head>

<body>

<!-- NAVBAR -->
<% include ./partials/navbar.ejs %>

<!-- Page Content -->
<div class="container">

    <!-- Event Heading -->
    <h1 data-id="<%= event._id %>" id="event-heading" class="my-4">
        <%= event.name %>
        <!-- Attending People Badge -->
        <span class="badge badge-pill badge-danger"><%= event.peopleAttending.length %></span>
        <% event.tags.forEach(tag => { %>
            <span class="tag pull-right">
                <span class="badge badge-pill badge-primary"><%= tag %></span>
            </span>
        <% }) %>
    </h1>

    <!-- Event Content -->
    <div class="row">
        <div class="col-md-8">
            <!-- Event Image -->
            <img class="img-fluid" src="http://placehold.it/750x400" alt="Event Image here">

            <!-- Event Description Card -->
            <div class="card mt-4">
                <h2 class="pl-4 pt-2 card-title">Description</h2>
                <hr class="my-0 styled">
                <div class="card-body p-2 pt-2">
                    <%= event.description %>
                </div>
            </div>

            <!-- Comments Card -->
            <div class="card mt-4">
                <h2 class="pt-2 px-4 card-title">Comments</h2>
                <hr class="my-0 styled">

                <!-- Body -->
                <div class="card-body px-3 pt-4">
                    <!-- Comments -->
                    <div id="comment-box">
                        <!-- Individual Comments to be added by JS -->
                    </div>

                    <!-- Load More Comments Button -->
                    <button id="loadComments" class="btn btn-block btn-primary">
                        Load more Comments
                        <i id="commentSpinner" class="fa fa-spinner ml-5"></i>
                    </button>

                </div>
            </div>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <div>
                        <div class="form-group">
                            <textarea id="comment-text" class="form-control" rows="3"></textarea>
                        </div>
                        <button id="comment-button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>  <!-- END Comments Form -->
        </div>

        <!-- Details and SideCard -->
        <div class="col-4">
            <!-- Details Card -->
            <div class="card">
                <h2 class="pt-3 pl-4 card-title">
                    Details
                </h2>
                <div class="card-body">
                    <!-- Event Details -->
                    <ul>
                        <!-- Ticket Price -->
                        <li>
                            <b>Ticket Price:</b>
                            ₹ <%= event.ticketPrice %>
                        </li>
                        <!-- Time -->
                        <li>
                            <b>Time: </b>
                            <%= event.dateTime %>
                        </li>
                        <!-- Duration -->
                        <li>
                            <b>Duration: </b>
                            <%= event.duration %>
                        </li>
                        <!-- Venue -->
                        <li>
                            <b>Venue: </b>
                            <%= event.venue %>
                        </li>
                        <!-- Organizers -->
                        <li>
                            <b>Organizers: </b>
                            <ul>
                                <% event.organizers.forEach((organizer) => { %>
                                <li><%= organizer %></li>
                                <% }) %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>  <!-- END SideCard -->
    </div>
</div>

</body>
</html>
